.time-display {
  padding: 1em 0;
  font-size: 3em;
  text-align: center;
  font-family: "Courier New", sans-serif;
}

.time-summary {
  font-size: 3.2em;
  padding: 1em 0;
  color: #fff;
  background: #3cc51f;
}

